# OS files
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/

# Dependencies
node_modules/
vendor/

# Build/release output
release/

# Temporary files
*.swp
*.swo
*.tmp

# Node package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
